In [1]:
import numpy as np
import pandas as pd

In [2]:
trade_stata_df = pd.read_stata("tradeflows.dta")
trade_stata_df.head()

,year,iso_o,iso_d,contig,comlang_off,distw,pop_o,gdp_o,gdpcap_o,iso2_o,...,rta,comleg,comcur,acp_to_eu,gsp,eu_to_acp,gsp_rec,flow,validmirror,family
0,1999,ABW,AGO,0,0,9587.315563,NaN,1722.905029,NaN,AW,...,0,1,0,0,0,0,0,0.0,0,
1,2000,ABW,AGO,0,0,9587.315563,NaN,1858.659180,NaN,AW,...,0,1,0,0,0,0,0,0.0,1,
2,2001,ABW,AGO,0,0,9587.315563,NaN,1898.882690,NaN,AW,...,0,1,0,0,0,0,0,0.0,1,
3,2002,ABW,AGO,0,0,9587.315563,NaN,1911.173218,NaN,AW,...,0,1,0,0,0,0,0,0.0,1,
4,2003,ABW,AGO,0,0,9587.315563,0.099,NaN,NaN,AW,...,0,1,0,0,0,0,0,0.0,1,

In [3]:
# trade_stata_df.to_csv("tradeflows.csv")

In [4]:
trade_df = pd.read_csv("tradeflows.csv")
trade_df = trade_df.loc[:,['year','iso_o','iso_d','gdp_o','gdp_d','flow', 'distw']]
trade_df.head()

   year iso_o iso_d      gdp_o      gdp_d  flow        distw
0  1999   ABW   AGO  1722.9050   6154.480   0.0  9587.315563
1  2000   ABW   AGO  1858.6592   9129.180   0.0  9587.315563
2  2001   ABW   AGO  1898.8827   8936.023   0.0  9587.315563
3  2002   ABW   AGO  1911.1732  11431.738   0.0  9587.315563
4  2003   ABW   AGO        NaN  13956.268   0.0  9587.315563

In [5]:
polity_scores_df = pd.read_excel("polity.xls")
polity_scores_df.head()

,cyear,ccode,scode,country,year,flag,fragment,democ,autoc,polity,...,interim,bmonth,bday,byear,bprec,post,change,d4,sf,regtrans
0,7001800,700,AFG,Afghanistan,1800,0,NaN,1,7,-6,...,NaN,1.0,1.0,1800.0,1.0,-6.0,88.0,1.0,NaN,NaN
1,7001801,700,AFG,Afghanistan,1801,0,NaN,1,7,-6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7001802,700,AFG,Afghanistan,1802,0,NaN,1,7,-6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7001803,700,AFG,Afghanistan,1803,0,NaN,1,7,-6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7001804,700,AFG,Afghanistan,1804,0,NaN,1,7,-6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
same_countries = sorted(list(set(trade_df['iso_o'].unique()) & set(polity_scores_df['scode'].unique())))
print(same_countries)
print("Polity - Same =", set(polity_scores_df['scode'].unique()).difference(set(same_countries)))

['AFG', 'AGO', 'ALB', 'ARG', 'ARM', 'AUS', 'AUT', 'AZE', 'BDI', 'BEL', 'BEN', 'BFA', 'BGD', 'BGR', 'BHR', 'BIH', 'BLR', 'BOL', 'BRA', 'BTN', 'BWA', 'CAF', 'CAN', 'CHE', 'CHL', 'CHN', 'CMR', 'COL', 'COM', 'CPV', 'CRI', 'CUB', 'CYP', 'CZE', 'DEU', 'DJI', 'DNK', 'DOM', 'DZA', 'ECU', 'EGY', 'ERI', 'ESP', 'EST', 'ETH', 'FIN', 'FJI', 'FRA', 'GAB', 'GBR', 'GEO', 'GHA', 'GMB', 'GNB', 'GNQ', 'GRC', 'GTM', 'GUY', 'HND', 'HRV', 'HTI', 'HUN', 'IDN', 'IND', 'IRL', 'IRN', 'IRQ', 'ISR', 'ITA', 'JAM', 'JOR', 'JPN', 'KAZ', 'KEN', 'KGZ', 'KHM', 'KOR', 'KWT', 'LBN', 'LBR', 'LBY', 'LKA', 'LSO', 'LTU', 'LUX', 'LVA', 'MAR', 'MDA', 'MDG', 'MEX', 'MKD', 'MLI', 'MNG', 'MOZ', 'MRT', 'MUS', 'MWI', 'MYS', 'NAM', 'NER', 'NGA', 'NIC', 'NLD', 'NOR', 'NPL', 'NZL', 'OMN', 'PAK', 'PAN', 'PER', 'PHL', 'PNG', 'POL', 'PRT', 'PRY', 'QAT', 'RUS', 'RWA', 'SAU', 'SDN', 'SEN', 'SGP', 'SLB', 'SLE', 'SLV', 'SOM', 'SUR', 'SVN', 'SWE', 'SWZ', 'SYR', 'TCD', 'TGO', 'THA', 'TJK', 'TKM', 'TTO', 'TUN', 'TUR', 'TZA', 'UGA', 'UKR', 'URY', 'USA', 'UZB', 'VEN', 'YEM', 'ZAF', 'ZMB', 'ZWE']
Polity - Same = {nan, 'ROU', 'MNE', 'SRB'}

In [7]:
polity_scores_df = polity_scores_df.loc[:,['scode', 'country', 'year', 'polity']]
polity_scores_df.head()

  scode      country  year  polity
0   AFG  Afghanistan  1800      -6
1   AFG  Afghanistan  1801      -6
2   AFG  Afghanistan  1802      -6
3   AFG  Afghanistan  1803      -6
4   AFG  Afghanistan  1804      -6

In [8]:
# Remove all rows prior to 1989
trade_df = trade_df[trade_df['year'] >= 1989]
polity_scores_df = polity_scores_df[polity_scores_df['year'] >= 1989]
trade_df.shape

(512448, 7)

In [9]:
# Remove all rows with iso_o not in same countries
trade_df = trade_df[trade_df['iso_o'].isin(same_countries)]
# Remove all rows with iso_d not in same countries
trade_df = trade_df[trade_df['iso_d'].isin(same_countries)]
trade_df.reset_index(drop=True, inplace=True)

In [10]:
# Create new column with trade link (iso_d + iso_d)
trade_df["tradelink"] = trade_df.apply(lambda row: row['iso_o'] + '-' + row['iso_d'], axis=1)
trade_df.reset_index(drop=True, inplace=True)

In [11]:
trade_df.describe()

                year         gdp_o         gdp_d           flow          distw
count  317694.000000  3.106470e+05  3.108880e+05  317694.000000  317694.000000
mean     1998.014473  2.506819e+05  2.509340e+05     334.242258    7292.940979
std         5.045793  9.553552e+05  9.553917e+05    3588.693328    4325.951628
min      1989.000000  1.120067e+02  1.120067e+02       0.000000     114.637288
25%      1994.000000  4.404939e+03  4.467987e+03       0.000000    3844.672945
50%      1998.000000  1.682189e+04  1.697400e+04       0.787012    6697.845241
75%      2002.000000  1.201521e+05  1.201521e+05      22.075907   10232.234465
max      2006.000000  1.320182e+07  1.320182e+07  348420.600000   19650.127278

In [12]:
trade_df = pd.merge(left=trade_df, right=polity_scores_df, left_on=['year','iso_o'], right_on=['year','scode']).drop(columns=['country', 'scode'])
trade_df = trade_df.rename(columns={'polity':'polity_o'})
trade_df = pd.merge(left=trade_df, right=polity_scores_df, left_on=['year','iso_d'], right_on=['year','scode']).drop(columns=['country', 'scode'])
trade_df = trade_df.rename(columns={'polity':'polity_d'})
trade_df.head()

,year,iso_o,iso_d,gdp_o,gdp_d,flow,distw,tradelink,polity_o,polity_d
0,1989,AFG,ARG,2600.000,76636.9,0.000000,15341.161651,AFG-ARG,-8,7
1,1989,AGO,ARG,9283.055,76636.9,0.000000,7977.915715,AGO-ARG,-7,7
2,1989,ALB,ARG,2335.125,76636.9,0.016416,11662.556116,ALB-ARG,-9,7
3,1989,AUS,ARG,314458.340,76636.9,112.180000,12044.573996,AUS-ARG,10,7
4,1989,AUT,ARG,131547.890,76636.9,24.537700,11751.146582,AUT-ARG,10,7

In [13]:
# Append difference in scores column to trade_df
trade_df['polity_dist'] = abs(trade_df['polity_o'] - trade_df['polity_d'])
trade_df.head(20)

,year,iso_o,iso_d,gdp_o,gdp_d,flow,distw,tradelink,polity_o,polity_d,polity_dist
0,1989,AFG,ARG,2600.0000,76636.9,0.000000,15341.161651,AFG-ARG,-8,7,15
1,1989,AGO,ARG,9283.0550,76636.9,0.000000,7977.915715,AGO-ARG,-7,7,14
2,1989,ALB,ARG,2335.1250,76636.9,0.016416,11662.556116,ALB-ARG,-9,7,16
3,1989,AUS,ARG,314458.3400,76636.9,112.180000,12044.573996,AUS-ARG,10,7,3
4,1989,AUT,ARG,131547.8900,76636.9,24.537700,11751.146582,AUT-ARG,10,7,3
5,1989,BDI,ARG,1113.9241,76636.9,0.000000,9834.967221,BDI-ARG,-7,7,14
6,1989,BEL,ARG,162109.0300,76636.9,123.309000,11305.285880,BEL-ARG,10,7,3
7,1989,BEN,ARG,1502.2864,76636.9,0.000000,8050.423068,BEN-ARG,-7,7,14
8,1989,BFA,ARG,2666.7676,76636.9,0.000000,7990.588956,BFA-ARG,-7,7,14
9,1989,BGD,ARG,26825.2400,76636.9,0.650861,16993.581884,BGD-ARG,-5,7,12
10,1989,BGR,ARG,21746.8120,76636.9,15.664220,12115.572212,BGR-ARG,-7,7,14
11,1989,BHR,ARG,3863.5640,76636.9,5.575920,13444.569863,BHR-ARG,-10,7,17
12,1989,BOL,ARG,4715.9730,76636.9,251.369800,1865.839405,BOL-ARG,9,7,2
13,1989,BRA,ARG,462459.0000,76636.9,781.357500,2391.846403,BRA-ARG,8,7,1
14,1989,BWA,ARG,3083.6477,76636.9,0.000000,8336.666562,BWA-ARG,7,7,0
15,1989,CAF,ARG,1268.6682,76636.9,0.000000,9312.543052,CAF-ARG,-7,7,14
16,1989,CAN,ARG,547282.0600,76636.9,36.581710,9391.460934,CAN-ARG,10,7,3
17,1989,CHE,ARG,184708.4800,76636.9,111.222100,11232.932834,CHE-ARG,10,7,3
18,1989,CHL,ARG,28385.0370,76636.9,121.110000,1156.725891,CHL-ARG,8,7,1
19,1989,CHN,ARG,342291.5000,76636.9,15.096200,19110.127211,CHN-ARG,-7,7,14

In [16]:
import math

In [17]:
trade_df['log_gdp_o'] = np.log(trade_df.gdp_o)
trade_df['log_gdp_d'] = np.log(trade_df.gdp_d)
trade_df['log_flow'] = np.log(trade_df.flow)
trade_df['log_flow'] = trade_df['log_flow'].apply(lambda x: np.log(x) if not(math.isinf(x)) else 0)
trade_df['log_distw'] = np.log(trade_df.distw)
trade_df['log_polity_dist'] = trade_df['polity_dist'].apply(lambda x: np.log(int(x)) if (x != 0) else 0)
trade_df.head(10)

/home/topher-lo/anaconda3/envs/supas/lib/python3.7/site-packages/ipykernel_launcher.py:3: RuntimeWarning: divide by zero encountered in log
  This is separate from the ipykernel package so we can avoid doing imports until

,year,iso_o,iso_d,gdp_o,gdp_d,flow,distw,tradelink,polity_o,polity_d,polity_dist,log_gdp_o,log_gdp_d,log_flow,log_distw,log_polity_dist
0,1989,AFG,ARG,2600.0000,76636.9,0.000000,15341.161651,AFG-ARG,-8,7,15,7.863267,11.246834,0.000000,9.638295,2.708050
1,1989,AGO,ARG,9283.0550,76636.9,0.000000,7977.915715,AGO-ARG,-7,7,14,9.135946,11.246834,0.000000,8.984432,2.639057
2,1989,ALB,ARG,2335.1250,76636.9,0.016416,11662.556116,ALB-ARG,-9,7,16,7.755821,11.246834,NaN,9.364139,2.772589
3,1989,AUS,ARG,314458.3400,76636.9,112.180000,12044.573996,AUS-ARG,10,7,3,12.658607,11.246834,1.551831,9.396370,1.098612
4,1989,AUT,ARG,131547.8900,76636.9,24.537700,11751.146582,AUT-ARG,10,7,3,11.787126,11.246834,1.163217,9.371706,1.098612
5,1989,BDI,ARG,1113.9241,76636.9,0.000000,9834.967221,BDI-ARG,-7,7,14,7.015644,11.246834,0.000000,9.193699,2.639057
6,1989,BEL,ARG,162109.0300,76636.9,123.309000,11305.285880,BEL-ARG,10,7,3,11.996024,11.246834,1.571672,9.333026,1.098612
7,1989,BEN,ARG,1502.2864,76636.9,0.000000,8050.423068,BEN-ARG,-7,7,14,7.314743,11.246834,0.000000,8.993480,2.639057
8,1989,BFA,ARG,2666.7676,76636.9,0.000000,7990.588956,BFA-ARG,-7,7,14,7.888622,11.246834,0.000000,8.986020,2.639057
9,1989,BGD,ARG,26825.2400,76636.9,0.650861,16993.581884,BGD-ARG,-5,7,12,10.197099,11.246834,NaN,9.740591,2.484907

In [18]:
trade_df = trade_df.set_index(['tradelink', 'year'])

In [22]:
trade_df.shape

(314548, 14)

In [23]:
trade_df.to_excel('trade_polity.xlsx')